.main{
    text-align: center;
    background-color: black;
    color: white;
    margin-bottom: 20px;
    padding-top:20px;
    padding-bottom: 20px;
    font-weight: bolder;
    font-size: 25px;
}
